
<style>
    .christmas_products_section {
    padding: 88px 0px;
    background: #6da06d;
}

.christmas_products_continer {
    max-width: 1080px;
    margin: 0 auto;
    padding: 0px 50px;
}

.christmas_products_Title {
    text-align: center;
    color: #fff;
    font-size: 40px;
    padding-bottom: 36px;
}

.christmas_products_Flex {
    display: flex;
    flex-wrap: wrap;
}

.christmas_products_box {
    width: 33.33333%;
    padding: 12px;
}

.christmas_products_box_flex:before {
    content: "";
    position: absolute;
    top: -27px;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    height: 300px;
    background: radial-gradient(circle, rgb(196 255 86 / 69%) 0%, rgba(196, 255, 86, 0) 60%);
    filter: blur(10px);
    z-index: 0;
    transition: all 0.4s 
ease;
    opacity: 0;
    visibility: hidden;
}

.christmas_products_box_flex {
    background: #fff;
    padding: 16px;
    border-radius: 24px;
    position: relative;
    overflow: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.christmas_products_box_Logo {
    position: absolute;
    z-index: 1;
    width: 100%;
    max-width: 97px;
    object-fit: contain;
    right: 13px;
    top: 35px;
    display: block;
}

.main-christmas_products_box_Link {
    display: block;
    position: relative;
    min-height: 204px;
}

.main-christmas_products_box_Img {
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    height: 100%;
    object-fit: contain;
    max-width: 204px;
    margin: 0 auto;
}

.main-christmas_products_box_Img {
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    height: 100%;
    object-fit: contain;
    max-width: 204px;
    margin: 0 auto;
}

.main-christmas_products_box_badge {
    text-align: center;
    padding-bottom: 24px;
    padding-top: 20px;
}

.main-christmas_products_box_stars_span:before {
    content: "\e000";
}

.main-christmas_products_box_stars_span {
    font-family: 'JudgemeStar' !important;
    color: rgba(246, 174, 2, 1) !important;
}

.main-christmas_products_box_stars_text {
    visibility: visible;
    color: rgba(0, 0, 0, 1);
    font-size: 12px;
}

.main-christmas_products_box_Title_text {
    font-size: 20px;
    text-align: center;
    line-height: normal;
    padding: 0px 21px;
        margin: 0;
}

.main-christmas_products_box_Title_link {
    text-decoration: none;
    color: rgba(45, 40, 40, 1);
    font-weight: 700;
}

.main-christmas_products_box_price {
    line-height: normal;
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
}

.main-christmas_products_box_price_span {
    color: rgba(0, 130, 76, 1);
    letter-spacing: 0;
    font-weight: 700;
}

.main-christmas_products_box_compare_price_span {
    color: rgba(45, 40, 40, 1);
    letter-spacing: 0;
    margin-left: 4px;
    font-size: 12px;
    text-decoration: line-through;
}

.main-christmas_products_box_Button {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 24px;
    align-items: center;
}

.product-form__submit.button.button--full-width.button--primary {
    color: #fff;
    text-decoration: none;
    display: block;
    font-size: 16px;
    width: 100%;
    background: rgba(0, 130, 76, 1);
    border: 1px solid rgba(0, 130, 76, 1);
    padding: 10px 14px;
    border-radius: 50px;
    transition: 0.3s all 
ease-in-out;
    text-align: center;
    line-height: 22px;
    cursor: pointer;
    position: relative;
}

.main-christmas_products_box_Button_ASk {
    color: rgba(255, 75, 90, 1);
    border: 1px solid rgba(255, 75, 90, 1);
    border-radius: 50px;
    width: 50%;
    background: transparent;
    padding: 9px 9px;
    font-weight: normal !important;
    letter-spacing: 0;
    text-decoration: none;
    display: block;
    font-size: 16px;
    transition: 0.3s all 
ease-in-out;
    text-align: center;
    line-height: 22px;
    cursor: pointer;
    position: relative;
}
</style>
<section class="christmas_products_section">
  <div class="christmas_products_continer">
    <h2 class="christmas_products_Title">
      {{ section.settings['maim-christmas_products_Title'] }}
    </h2>
    <div class="christmas_products_Flex">
      {%- assign product_form_id = 'product-form' | append: section.id -%}
      {% assign collection = collections[section.settings.christmas_products] %}
      {% for prod in collection.products %}
        <div class="christmas_products_box">
          <div class="christmas_products_box_flex">
            {% if section.settings['main-christmas_products_box_Logo'] != blank %}
              <img
                class="christmas_products_box_Logo"
                src="{{ section.settings.main-christmas_products_box_Logo |img_url:'master' }}"
              >
            {% endif %}
            <a href="{{ prod.url }}" class="main-christmas_products_box_Link">
              <img
                class="main-christmas_products_box_Img"
                src="{{ prod.featured_image | img_url: 'master' }}"
                alt="{{ prod.title }}"
              >
            </a>

            <div class="main-christmas_products_box_badge">
              <div class="main-christmas_products_stars">
                <span class="main-christmas_products_box_stars">
                  <span class="main-christmas_products_box_stars_span"></span>
                  <span class="main-christmas_products_box_stars_span"></span>
                  <span class="main-christmas_products_box_stars_span"></span>
                  <span class="main-christmas_products_box_stars_span"></span>
                </span>
                <span class="main-christmas_products_box_stars_text">
                  {{ section.settings['main-christmas_products_box_stars_text'] }}
                </span>
              </div>
            </div>
            <div class="main-christmas_products_box_Title_price">
              <h4 class="main-christmas_products_box_Title_text">
                <a href="{{ prod.url }}" class="main-christmas_products_box_Title_link">
                  {{ prod.title }}
                </a>
              </h4>
              <div class="main-christmas_products_box_price">
                <span class="main-christmas_products_box_price_span">
                  {{ prod.price | money }}
                </span>
                 {% if prod.compare_at_price > prod.price%}
                  <span class="main-christmas_products_box_compare_price_span">
                    {{ prod.compare_at_price | money }}
                  </span>
                {% endif %}
              </div>
            </div>
            <div class="main-christmas_products_box_Button">
              <div class="main-christmas_products_box_Button_Add_to">
               {{ 'products.product.add_to_cart' | t }}
              </div>
              <a class="main-christmas_products_box_Button_ASk" href="#">{{ section.settings.main-main-christmas_products_box_Button_ASk }}</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Christmas Holiday",
  "settings": [
    {
    "type": "text",
    "id": "maim-christmas_products_Title",
    "label": "Products Box Title"
    },
    {
    "type": "image_picker",
    "id": "main-christmas_products_box_Logo",
    "label": "Porducts Box Logo"
    },
    {
    "type": "text",
    "id": "main-christmas_products_box_stars_text",
    "label": "Products Box Stars Text"
},
{
"type": "text",
"id": "main-main-christmas_products_box_Button_ASk",
"label": "Products Box Button"
},
{
"type": "collection",
"id": "christmas_products",
"label": "Collection"
}

  ],
  "presets": [
    {
    "name": "Christmas Holiday products"
    }
  ]
}
{% endschema %}
