<style>
    .custom_Golime_form_section {
      background-image: url({{ section.settings.main-custom_Golime_form_section_images |img_url:'master' }});
      background-size: cover;
      background-position: top;
      padding-top: 70px !important;
  }
  .custom_Golime_form_container {
      width: 100%;
      max-width: 1200px;
      margin: 0 auto;
      padding: 0 50px;
  }

  .custom_Golime_form_Flex {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
          padding-bottom: 60px;
  }

  .custom_Golime_form_Heading_box {
      width: 41.2%;
  }

  .custom_Golime_form_box {
      width: 49.2%;
  }

  .custom_Golime_form_Heading_title {
      font-size: 40px;
      margin: 0;
      line-height: 44px;
  }

  .custom_Golime_form_Heading_description {
      margin-top: 20px;
      color: #ffffff;
  }

  .custom_Golime_form_Heading_description p {
      letter-spacing: 0;
      line-height: 20px;
      font-size: 14px;
  }

  .custom_Golime_form_input {
      width: 100%;
      padding: 16px 15px;
      margin-bottom: 12px;
      border-radius: 16px;
      border: 1px solid #d9d9d9;
  }

  .custom_Golime_form_cust-input {
      width: 100%;
      padding: 12px 15px;
      margin-bottom: 12px;
      border-radius: 16px;
      border: 1px solid #d9d9d9;
  }

  .custom_Golime_form_Bottom_descrtion p {
      line-height: 19px;
      font-size: 14px;
      letter-spacing: 0;
  }

  .main-custom_Golime_form_Bottom_Button_box {
      margin-top: 19px;
  }

  .main-custom_Golime_form_Bottom_Button {
      color: #2f7400 !important;
      padding: 10px 25px;
      border: 0;
      display: block;
      width: fit-content;
      font-size: 16px;
      border-radius: 50px;
      cursor: pointer;
      transition: .3s ease-in-out;
  }
    
  .Flex_Golime_Custom_Form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}



.effrt_block_Golime_Custom_Form {
    border-radius: 24px;
    background: #265640;
    padding: 40px 20px;
    width: 24%;
    display: flex;
    position: relative;
    overflow: hidden;
    flex-direction: column;
    justify-content: space-between;
}

.imgaes_top_content_effrt_block_Golime_Custom_Form {
    margin: 0 auto;
    max-width: 58px;
}

.img_top_content_effrt_block_Golime_Custom_Form {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.content_effrt_block_Golime_Custom_Form_title {
    padding: 16px 0;
}

.content_effrt_block_Golime_Custom_Form {
    margin: 0;
    text-align: center;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 22px;
    color: white;
}

.bottm_content_effrt_block_Golime_Custom_Form p {
    margin: 0;
    text-align: center;
    line-height: 21px;
    font-size: 16px;
    display: block;
    letter-spacing: 0;
    color: white;
}
</style>
<section class="custom_Golime_form_section">
  <div class="custom_Golime_form_container" id="Custom_Golime_Form">
    <div class="custom_Golime_form_Flex">
      <div class="custom_Golime_form_Heading_box">
        <h2 class="custom_Golime_form_Heading_title" style="color: #fff;">
          {{ section.settings['main-custom_Golime_form_Heading_title'] }}
        </h2>
        <div class="custom_Golime_form_Heading_description">
          <p>{{ section.settings['main-custom_Golime_form_Heading_description'] }}</p>
        </div>
      </div>
      <div class="custom_Golime_form_box">
        {%- form 'contact', id: 'ContactForm', class: custom_Golime_form; -%}
          <div class="custom_Golime_form_input_main_box">
            <div class="custom_Golime_form_input_box">
              <input
                class="custom_Golime_form_input"
                type="text"
                placeholder="First Name*"
                name="contact[first name]"
                required=""
              >
            </div>
            <div class="custom_Golime_form_input_box">
              <input
                class="custom_Golime_form_input"
                type="text"
                placeholder="Last name*"
                name="contact[last name]"
                required=""
              >
            </div>
            <div class="custom_Golime_form_input_box">
              <input
                class="custom_Golime_form_input"
                type="email"
                placeholder="Email Address*"
                name="contact[email]"
                required=""
              >
            </div>
            <div class="custom_Golime_form_input_box">
              <input
                class="custom_Golime_form_input"
                type="number"
                placeholder="Phone Number*"
                name="contact[Phone Number]"
                required=""
              >
            </div>
            <div class="custom_Golime_form_question_message">
              <textarea
                class="custom_Golime_form_cust-input"
                name="contact[message]"
                placeholder="Leave a comment"
                rows="4"
              ></textarea>
            </div>
            <div class="custom_Golime_form_Bottom_descrtion_box">
              <div class="custom_Golime_form_Bottom_descrtion" style="color:#ffffff;">
                <p>{{ section.settings['main-custom_Golime_form_Bottom_descrtion'] }}</p>
              </div>
              <div class="main-custom_Golime_form_Bottom_Button_box">
                <button class="main-custom_Golime_form_Bottom_Button" type="submit" style="background:#cef34e;">
                  {{ section.settings['Sub-main-custom_Golime_form_Bottom_Button'] }}
                </button>
              </div>
            </div>
          </div>
        {% endform %}
      </div>
    </div>
    <div class="Flex_Golime_Custom_Form">
      {% for block in section.blocks %}
        <div class="effrt_block_Golime_Custom_Form">
          <div class="top_content_effrt_block_Golime_Custom_Form">
            <div class="imgaes_top_content_effrt_block_Golime_Custom_Form">
              {% if block.settings.main_img_top_content_effrt_block_Golime_Custom_Form != blank %}
                <img
                  src="{{ block.settings.main_img_top_content_effrt_block_Golime_Custom_Form | img_url:'master' }}"
                  alt=""
                  class="img_top_content_effrt_block_Golime_Custom_Form"
                >
              {% endif %}
            </div>
            <div class="content_effrt_block_Golime_Custom_Form_title">
              <h5 class="content_effrt_block_Golime_Custom_Form">
                {{ block.settings.sub_content_effrt_block_Golime_Custom_Form }}
              </h5>
            </div>
          </div>
          {% if block.settings.cust_userselect == 'description' %}
            <div class="bottm_content_effrt_block_Golime_Custom_Form">
              <p>{{ block.settings.Sub_bottm_content_effrt_block_Golime_Custom_Form }}</p>
            </div>
            <div class="bottm_content_effrt_block_Golime_Custom_Form para">
              <p>{{ block.settings.Sub_bottm_content_effrt_block_Golime_Footer_section_top_3 }}</p>
            </div>
          {% elsif block.settings.cust_userselect == 'button' %}
            <div class="bottm_content_effrt_block_Golime_Custom_Form_botton">
              <a
                href="{{ block.settings.Link_effrt_block_Golime_Footer_us_btn }}"
                class="effrt_block_Golime_Footer_us_btn"
              >
                {{ block.settings.main_effrt_block_Golime_Footer_us_btn }}
              </a>
            </div>
          {% else %}

          {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
</section>
{% schema %}
{
  "name": "Custom Golime Form",
  "settings": [
    {
      "type": "image_picker",
      "id": "main-custom_Golime_form_section_images",
      "label": "Custom Form Images"
    },
    {
      "type": "text",
      "id": "main-custom_Golime_form_Heading_title",
      "label": "Custom Form Title"
    },
    {
      "type": "richtext",
      "id": "main-custom_Golime_form_Heading_description",
      "label": "Custom Form Description"
    },
    {
      "type": "richtext",
      "id": "main-custom_Golime_form_Bottom_descrtion",
      "label": "Custom Form Bottom Descrtion"
    },
    {
      "type": "text",
      "id": "Sub-main-custom_Golime_form_Bottom_Button",
      "label": "Custom Form Bottom Button"
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "Text",
      "limit": 4,
      "settings": [
        {
          "type": "image_picker",
          "id": "main_img_top_content_effrt_block_Golime_Custom_Form",
          "label": "Images Golime Content"
        },
        {
          "type": "text",
          "id": "sub_content_effrt_block_Golime_Custom_Form",
          "label": "Content Text Golime"
        },
        {
          "type": "select",
          "id": "cust_userselect",
          "label": "Select Option",
          "options": [
            {
              "value": "description",
              "label": "Description"
            },
            {
              "value": "button",
              "label": "Button"
            }
          ],
          "default": "description"
        },
        {
          "type": "textarea",
          "id": "Sub_bottm_content_effrt_block_Golime_Custom_Form",
          "label": "Description Para"
        },
        {
          "type": "textarea",
          "id": "Sub_bottm_content_effrt_block_Golime_Footer_section_top_3",
          "label": "Description Para"
        },
        {
          "type": "url",
          "id": "Link_effrt_block_Golime_Footer_us_btn",
          "label": "Button Links Section"
        },
        {
          "type": "text",
          "id": "main_effrt_block_Golime_Footer_us_btn",
          "label": "Button Text Golime"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Custom Golime Form"
    }
  ]
}
{% endschema %}
