<style>
.Golime_New_footer_mn {
    padding: 50px 0 0;
}

.Golime_New_footer_mn_container {
    width: 100%;
    max-width: 1843px;
    margin: 0 auto;
    padding: 0 50px;
}

.Golime_New_footer_mn_Flex {
    display: flex;
    justify-content: space-between;
}

.Golime_New_footer_mn_left_box {
    position: relative;
    height: 682px;
    padding: 40px 0 0px;
    border-radius: 20px;
    width: 66.5%;
    overflow: hidden;
    background: linear-gradient(to right, #ffffff 0%, #ffffff 30%, rgba(255, 255, 255, 0) 100%);
}

.Golime_New_footer_mn_left_box_video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    pointer-events: none;
}

.Golime_New_footer_mn_left_box_images {
    padding-left: 15px;
}

.Golime_New_footer_mn_left_box_img_logo {
    width: 100%;
    max-width: 164px;
    height: 50px;
}

.Golime_New_footer_mn_left_box_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between !important;
    height: 500px;
}

.Golime_New_footer_mn_left_box_heading {
    padding-top: 20px;
}

.Golime_New_footer_mn_left_box_heading_h3 {
    font-size: 28px;
    color: #454545;
}

.Golime_New_footer_mn_left_box_title_para p {
    font-size: 18px;
    width: 57%;
    line-height: normal;
    padding: 10px 0;
    color: #454545;
    letter-spacing: 0;
}

.Golime_New_footer_mn_left_box_images_block {
    display: flex;
    align-items: center;
    width: 38%;
    padding-bottom: 5px;
    gap: 35px;
}

.Golime_New_footer_mn_left_box_logo_list_img {
    width: 100%;
    max-width: 54px;
    height: 55px;
}

.Golime_New_footer_mn_left_box_images_text {
    display: flex;
    align-items: center;
    font-size: 15px;
    color: #000;
    text-decoration: none;
}

.Golime_New_footer_mn_left_box_images_text_images_img {
    width: 100%;
    max-width: 16px;
    display: block;
}

.Golime_New_footer_mn_left_box_icon_text {
    padding-left: 12px;
    font-size: 16px;
    color: #454545;
    display: flex;
    align-items: center;
    line-height: normal;
}

.Golime_New_footer_mn_left_box_icon_text_img {
    width: 100%;
    max-width: 20px;
    height: 20px;
}

.Golime_New_footer_mn_left_box_form_input {
    padding: 15px 0 20px;
}

.Golime_New_footer_mn_left_box_form {
    position: relative;
    width: 62%;
}

.Golime_New_footer_mn_left_box_input {
    padding: 17px 20px;
    width: 100%;
    border-radius: 30px;
    outline: none !important;
    box-shadow: none !important;
    border: .5px solid #ccc;
}

.Golime_New_footer_mn_left_box_input_button {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background: #70bc0e;
    border: none;
    font-size: 16px;
    margin: 6px 7px;
    padding: 10px 22px;
    color: #fff;
    border-radius: 30px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

/* ---------- RIGHT BOX ---------- */
.Golime_New_footer_mn_right_box {
    width: 32.8%;
}

/* Flex for 3 columns */
.Golime_New_footer_mn_right_box_flex_menu {
    display: flex;
    justify-content: space-between;
    background: #085a54;
    border-radius: 20px;
    padding: 30px 25px 21px 25px;
    gap: 20px;
    min-height: 400px;
}

.Golime_New_footer_mn_right_box_menu_inner {
    flex: 1;
    min-width: 110px;
}


.Golime_New_footer_mn_right_box_menu_inner_block_span {
    display: block;
    font-size: 16px;
    font-weight: bold;
    color: #cef34e;
    margin-bottom: 12px;
}

.Golime_New_footer_mn_right_box_menu_inner_ul_box {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: normal;
}

.Golime_New_footer_mn_right_box_menu_inner_ul_box_il {
    margin-bottom: 6px;
    list-style: none;
}

.Golime_New_footer_mn_right_box_menu_inner_ul_box_il_a {
    text-decoration: none;
    font-size: 14px;
    color: #fff;
    line-height: 1.6;
    display: inline-block;
    transition: color 0.3s ease;
}

.Golime_New_footer_mn_right_box_menu_inner_ul_box_il_a:hover {
    color: #cef34e;
}

.Golime_New_footer_mn_right_box_links_social_box {
    background-image: url(//golime.com/cdn/shop/files/background.png?v=1753285001);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    padding: 20px 27px;
    margin-top: 10px;
    border-radius: 20px;
    min-height: 195px;
}

.Golime_New_footer_mn_right_box_links_social_content p {
    color: #454545;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0;
}

.Golime_New_footer_mn_right_box_links_social_content p strong {
    font-size: 16px;
    display: inline-block;
    margin-bottom: 10px;
    font-weight: 100;
}

.Golime_New_footer_mn_right_box_links_social_content a {
    text-decoration: none;
    color: #454545;
}

.Golime_New_footer_mn_right_box_menu_inner_icon_toggle {
    display: none;
}

.Golime_New_footer_mn_left_box_top_logo_Desktop {
    width: 100%;
    max-width: 119px;
    position: absolute;
    top: 16px;
    right: 40px;
}

.Golime_New_footer_mn_left_box_top_logo_Mobile {
    width: 100%;
    display: none;
    max-width: 119px;
    position: absolute;
    top: 16px;
    right: 40px;
}

.Golime_New_footer_mn_right_box_links_social_flex {
    padding: 6px 0;
}

.Golime_New_footer_mn_right_box_links_social_flex_images_ul {
    display: flex
;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    padding-left: 0;
    gap: 10px;
    padding-top: 15px;
    margin: 0;
}

.Golime_New_footer_mn_right_box_links_social_images_ul_li {
    list-style: none;
    line-height: 0;
}

.Golime_New_footer_mn_right_box_links_social_images_ul_li_a {
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #085a54;
    border-radius: 50%;
}

.Golime_New_footer_mn_right_box_links_social_images_img_flex {
    width: 100%;
    max-width: 16px;
    height: 16px;
    display: inline-block;
    object-fit: contain;
}

.Golime_New_footer_mn_right_box_links_social_main_right_images_flex {
    position: absolute;
    right: 0;
    top: 66%;
    transform: translateY(-50%);
}

.Golime_New_footer_mn_right_box_links_social_main_images_flex_img {
    max-width: 112px;
    width: 100%;
}
@media screen and (max-width: 767px) {

    .Golime_New_footer_mn {
        padding: 15px 0 0;
    }

    .Golime_New_footer_mn_container {
        padding: 0 10px;
    }

    .Golime_New_footer_mn_Flex {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }


    .Golime_New_footer_mn_right_box {
        width: 100%;
    }

    .Golime_New_footer_mn_right_box_flex_menu {
        display: block;
        background: #085a54;
    }

    .Golime_New_footer_mn_right_box_menu_inner_icon_toggle {
        display: block;
    }

    .Golime_New_footer_mn_right_box_menu_inner_block_span {
        display: flex;
        justify-content: space-between;
    }

    .arrow-icon {
        width: 30px;
        height: 30px;
    }

    .Golime_New_footer_mn_left_box {
        padding: 13px 15px;
        margin-bottom: 10px;
        height: auto;
        background: #f9f7f2;
        position: relative;
        width: 100%;
    }

    .Golime_New_footer_mn_left_box_top_logo_Desktop {
        display: none;
    }

    .Golime_New_footer_mn_left_box_top_logo_Mobile {
        display: block;
        width: 100%;
        max-width: 80px;
        top: 16px;
        right: 16px;
    }

    .Golime_New_footer_mn_left_box_images {
        padding-left: 0;
    }

    .Golime_New_footer_mn_left_box_images_Logo {
    padding-top: 20px;
    display: inline-block;
    }

    .Golime_New_footer_mn_left_box_heading {
    padding-top: 30px;
    }

     .Golime_New_footer_mn_left_box_content{
    height: 430px;
    }

     .Golime_New_footer_mn_left_box_heading_h3 {
    font-size: 18px;
    }

    .Golime_New_footer_mn_left_box_title_para p {
    padding: 15px 0 10px;
    width: 100%;
    font-size: 16px;
    }

   .Golime_New_footer_mn_left_box_images_block {
    gap: 20px;
    width: 75%;
   }

    .Golime_New_footer_mn_left_box_video {
    display: none;
    }

   .Golime_New_footer_mn_left_box_images_text{
    padding: 5px 0;
   }

}
@media screen and (max-width: 1100px) {

    .Golime_New_footer_mn {
        padding: 15px 0 0;
    }

    .Golime_New_footer_mn_container {
        padding: 0 10px;
    }

    .Golime_New_footer_mn_Flex {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }


    .Golime_New_footer_mn_right_box {
        width: 100%;
    }

    .Golime_New_footer_mn_right_box_flex_menu {
        display: block;
        background: #085a54;
    }

    .Golime_New_footer_mn_right_box_menu_inner_icon_toggle {
        display: block;
    }

    .Golime_New_footer_mn_right_box_menu_inner_block_span {
        display: flex;
        justify-content: space-between;
    }

    .arrow-icon {
        width: 30px;
        height: 30px;
    }

    .Golime_New_footer_mn_left_box {
        padding: 13px 15px;
        margin-bottom: 10px;
        height: auto;
        background: #f9f7f2;
        position: relative;
        width: 100%;
    }

    .Golime_New_footer_mn_left_box_top_logo_Desktop {
        display: none;
    }

    .Golime_New_footer_mn_left_box_top_logo_Mobile {
        display: block;
        width: 100%;
        max-width: 80px;
        top: 16px;
        right: 16px;
    }

    .Golime_New_footer_mn_left_box_images {
        padding-left: 0;
    }

    .Golime_New_footer_mn_left_box_images_Logo {
    padding-top: 20px;
    display: inline-block;
    }

    .Golime_New_footer_mn_left_box_heading {
    padding-top: 30px;
    }

     .Golime_New_footer_mn_left_box_content{
    height: 430px;
    }

     .Golime_New_footer_mn_left_box_heading_h3 {
    font-size: 18px;
    }

    .Golime_New_footer_mn_left_box_title_para p {
    padding: 15px 0 10px;
    width: 100%;
    font-size: 16px;
    }

   .Golime_New_footer_mn_left_box_images_block {
    gap: 20px;
    width: 75%;
   }

    .Golime_New_footer_mn_left_box_video {
    display: none;
    }

   .Golime_New_footer_mn_left_box_images_text{
    padding: 5px 0;
   }

}
</style>
<footer class="Golime_New_footer_mn">
        <div class="Golime_New_footer_mn_container">
            <div class="Golime_New_footer_mn_Flex">
                <div class="Golime_New_footer_mn_left_box">
                    {% if section.settings.main_Golime_New_footer_mn_left_box_video !=blank %}
                    <video autoplay muted loop playsinlin class="Golime_New_footer_mn_left_box_video" type="video/mp4">
                        <source src="{{ section.settings.main_Golime_New_footer_mn_left_box_video.sources[1].url }}">
                    </video>
                    {% endif %}
                    <div class="Golime_New_footer_mn_left_box_images">
                        <a href="{{ section.settings.main_Golime_New_footer_mn_left_box_images_Logo_url }}" class="Golime_New_footer_mn_left_box_images_Logo">
                            {% if section.settings.sub_Golime_New_footer_mn_left_box_images_Logo_img !=blank%}
                            <img src="{{ section.settings.sub_Golime_New_footer_mn_left_box_images_Logo_img | img_url:'master' }}"
                                class="Golime_New_footer_mn_left_box_img_logo" alt="">
                                {% endif %}
                        </a>
                        <div class="Golime_New_footer_mn_left_box_content">
                            <div class="Golime_New_footer_mn_left_box_heading">
                                <h3 class="Golime_New_footer_mn_left_box_heading_h3">
                                    {{ section.settings.top_Golime_New_footer_mn_left_box_heading_h3 }}
                                </h3>
                                <div class="Golime_New_footer_mn_left_box_title_para">
                                    <p>
                                       {{ section.settings.main_Golime_New_footer_mn_left_box_title_para }}
                                    </p>
                                </div>
                            </div>
                            <div class="Golime_New_footer_mn_left_box_images_box_col">
                                <div class="Golime_New_footer_mn_left_box_images_block">
                                    {% for block in section.blocks %}
                                        {% case block.type %}
                                        {% when 'LogoList' %}
                                    <div class="Golime_New_footer_mn_left_box_logo_list">
                                        {% if block.settings.main_Golime_New_footer_mn_left_box_logo_list_img !=blank%}
                                        <img src="{{ block.settings.main_Golime_New_footer_mn_left_box_logo_list_img | img_url:'master' }}" alt=""
                                            class="Golime_New_footer_mn_left_box_logo_list_img">
                                            {% endif %}
                                    </div>
                                    <div class="Golime_New_footer_mn_left_box_logo_list">
                                        {% if block.settings.main_Golime_New_footer_mn_left_box_logo_list_img2 !=blank%}
                                        <img src="{{ block.settings.main_Golime_New_footer_mn_left_box_logo_list_img2 | img_url:'master' }}" alt=""
                                            class="Golime_New_footer_mn_left_box_logo_list_img">
                                            {% endif %}
                                    </div>
                                    <div class="Golime_New_footer_mn_left_box_logo_list">
                                        {% if block.settings.main_Golime_New_footer_mn_left_box_logo_list_img3 !=blank%}
                                        <img src="{{ block.settings.main_Golime_New_footer_mn_left_box_logo_list_img3 | img_url:'master' }}" alt=""
                                            class="Golime_New_footer_mn_left_box_logo_list_img">
                                            {% endif %}
                                    </div>
                                    <div class="Golime_New_footer_mn_left_box_logo_list">
                                      {% if block.settings.main_Golime_New_footer_mn_left_box_logo_list_img4 !=blank%}
                                        <img src="{{ block.settings.main_Golime_New_footer_mn_left_box_logo_list_img4 | img_url:'master' }}" alt=""
                                            class="Golime_New_footer_mn_left_box_logo_list_img">
                                            {% endif %}
                                    </div>
                                    {% endcase %}
                                    {% endfor %}
                                </div>
                                <div class="Golime_New_footer_mn_left_box_images_text">
                                    <div class="Golime_New_footer_mn_left_box_images_text_images_box">
                                         {% if section.settings.sub_Golime_New_footer_mn_left_box_images_text_images_box !=blank%}
                                        <img src="{{ section.settings.sub_Golime_New_footer_mn_left_box_images_text_images_box |img_url:'master' }}" alt=""
                                            class="Golime_New_footer_mn_left_box_images_text_images_img">
                                            {% endif %}
                                    </div>
                                    <div class="Golime_New_footer_mn_left_box_icon_text">
                                        {{section.settings.Title_Golime_New_footer_mn_left_box_icon_text }}
                                        {% if section.settings.sub_Golime_New_footer_mn_left_box_icon_text_img !=blank %}
                                        <img src="{{ section.settings.sub_Golime_New_footer_mn_left_box_icon_text_img |img_url:'master' }}" alt=""
                                            class="Golime_New_footer_mn_left_box_icon_text_img">
                                            {% endif %}
                                    </div>
                                </div>
                                <div class="Golime_New_footer_mn_left_box_form_input">
                                    <form class="Golime_New_footer_mn_left_box_form" action="#" method="post">
                                        <input type="email" class="Golime_New_footer_mn_left_box_input"
                                            name="content[email]" placeholder="Enter Your Email..." required>
                                        <button type="submit" class="Golime_New_footer_mn_left_box_input_button">
                                            Subscribe Now
                                        </button>
                                    </form>
                                </div>
                                <div class="Golime_New_footer_mn_left_box_top_logo_Desktop_Mobile">
                                    {% if section.settings.main_Golime_New_footer_mn_left_box_top_logo_Desktop !=blank%}
                                    <img src="{{ section.settings.main_Golime_New_footer_mn_left_box_top_logo_Desktop | img_url:'master' }}" alt=""
                                        class="Golime_New_footer_mn_left_box_top_logo_Desktop">
                                    {% endif %}
                                        {% if section.settings.main_Golime_New_footer_mn_left_box_top_logo_Mobile !=blank%}
                                    <img src="{{ section.settings.main_Golime_New_footer_mn_left_box_top_logo_Mobile | img_url:'master' }}" alt=""
                                        class="Golime_New_footer_mn_left_box_top_logo_Mobile">
                                        {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="Golime_New_footer_mn_right_box">
                    <div class="Golime_New_footer_mn_right_box_flex_menu">
                        {% for block in section.blocks %}
                  {% case block.type %}
                    {% when 'RightMenu' %}
                        <div class="Golime_New_footer_mn_right_box_menu_inner">
                            <span class="Golime_New_footer_mn_right_box_menu_inner_block_span">
                                {{ block.settings.main_Golime_New_footer_mn_right_box_menu_inner_block_span }}
                                <span class="Golime_New_footer_mn_right_box_menu_inner_icon_toggle" aria-hidden="true">
                                    <svg class="arrow-icon" width="12" height="12" viewBox="0 0 24 24">
                                        <path d="M8.5 10l3.5 3.5L15.5 10" fill="none" stroke="currentColor"
                                            stroke-width="2"></path>
                                    </svg>
                                </span>
                            </span>
                            <ul class="Golime_New_footer_mn_right_box_menu_inner_ul_box">
                                <li class="Golime_New_footer_mn_right_box_menu_inner_ul_box_il">
                                    <a href="{{ block.settings.Golime_New_footer_mn_right_box_menu_inner_ul_box_il_a_url }}" class="Golime_New_footer_mn_right_box_menu_inner_ul_box_il_a">
                                        {{ block.settings.Golime_New_footer_mn_right_box_menu_inner_ul_box_il_a }}
                                    </a>
                                </li>
                                <li class="Golime_New_footer_mn_right_box_menu_inner_ul_box_il">
                                    <a href="{{ block.settings.Golime_New_footer_mn_right_box_menu_inner_ul_box_il_a_url2 }}" class="Golime_New_footer_mn_right_box_menu_inner_ul_box_il_a">
                                        {{ block.settings.Golime_New_footer_mn_right_box_menu_inner_ul_box_il_a2 }}
                                    </a>
                                </li>
                                <li class="Golime_New_footer_mn_right_box_menu_inner_ul_box_il">
                                    <a href="{{ block.settings.Golime_New_footer_mn_right_box_menu_inner_ul_box_il_a_url3 }}" class="Golime_New_footer_mn_right_box_menu_inner_ul_box_il_a">
                                        {{ block.settings.Golime_New_footer_mn_right_box_menu_inner_ul_box_il_a3 }}
                                    </a>
                                </li>
                               <li class="Golime_New_footer_mn_right_box_menu_inner_ul_box_il">
                                    <a href="{{ block.settings.Golime_New_footer_mn_right_box_menu_inner_ul_box_il_a_url4 }}" class="Golime_New_footer_mn_right_box_menu_inner_ul_box_il_a">
                                        {{ block.settings.Golime_New_footer_mn_right_box_menu_inner_ul_box_il_a4 }}
                                    </a>
                                </li>
                                <li class="Golime_New_footer_mn_right_box_menu_inner_ul_box_il">
                                    <a href="{{ block.settings.Golime_New_footer_mn_right_box_menu_inner_ul_box_il_a_url5 }}" class="Golime_New_footer_mn_right_box_menu_inner_ul_box_il_a">
                                        {{ block.settings.Golime_New_footer_mn_right_box_menu_inner_ul_box_il_a5 }}
                                    </a>
                                </li>
                               <li class="Golime_New_footer_mn_right_box_menu_inner_ul_box_il">
                                    <a href="{{ block.settings.Golime_New_footer_mn_right_box_menu_inner_ul_box_il_a_url6 }}" class="Golime_New_footer_mn_right_box_menu_inner_ul_box_il_a">
                                        {{ block.settings.Golime_New_footer_mn_right_box_menu_inner_ul_box_il_a6 }}
                                    </a>
                                </li>
                               <li class="Golime_New_footer_mn_right_box_menu_inner_ul_box_il">
                                    <a href="{{ block.settings.Golime_New_footer_mn_right_box_menu_inner_ul_box_il_a_url7 }}" class="Golime_New_footer_mn_right_box_menu_inner_ul_box_il_a">
                                        {{ block.settings.Golime_New_footer_mn_right_box_menu_inner_ul_box_il_a7 }}
                                    </a>
                                </li>
                                <li class="Golime_New_footer_mn_right_box_menu_inner_ul_box_il">
                                    <a href="{{ block.settings.Golime_New_footer_mn_right_box_menu_inner_ul_box_il_a_url8 }}" class="Golime_New_footer_mn_right_box_menu_inner_ul_box_il_a">
                                        {{ block.settings.Golime_New_footer_mn_right_box_menu_inner_ul_box_il_a8 }}
                                    </a>
                                </li>
                               <li class="Golime_New_footer_mn_right_box_menu_inner_ul_box_il">
                                    <a href="{{ block.settings.Golime_New_footer_mn_right_box_menu_inner_ul_box_il_a_url9 }}" class="Golime_New_footer_mn_right_box_menu_inner_ul_box_il_a">
                                        {{ block.settings.Golime_New_footer_mn_right_box_menu_inner_ul_box_il_a9 }}
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="Golime_New_footer_mn_right_box_menu_inner2">
                            <div class="Golime_New_footer_mn_right_box_menu_inner"> 
                                <span class="Golime_New_footer_mn_right_box_menu_inner_block_span">{{ block.settings.sub_Golime_New_footer_mn_right_box_menu_inner_block_span }}
                                <span class="Golime_New_footer_mn_right_box_menu_inner_icon_toggle" aria-hidden="true">
                                    <svg class="arrow-icon" width="12" height="12" viewBox="0 0 24 24">
                                        <path d="M8.5 10l3.5 3.5L15.5 10" fill="none" stroke="currentColor"
                                            stroke-width="2"></path>
                                    </svg>
                                </span>
                            </span>
                            <ul class="Golime_New_footer_mn_right_box_menu_inner_ul_box">
                                <li class="Golime_New_footer_mn_right_box_menu_inner_ul_box_il">
                                    <a href="{{ block.settings.Golime_New_footer_mn_right_box_menu_inner_ul_box_il_url }}" class="Golime_New_footer_mn_right_box_menu_inner_ul_box_il_a">
                                        {{ block.settings.Golime_New_footer_mn_right_box_menu_inner_ul_box_il }}
                                    </a>
                                </li>
                                <li class="Golime_New_footer_mn_right_box_menu_inner_ul_box_il">
                                    <a href="{{ block.settings.Golime_New_footer_mn_right_box_menu_inner_ul_box_il_url2 }}" class="Golime_New_footer_mn_right_box_menu_inner_ul_box_il_a">
                                        {{ block.settings.Golime_New_footer_mn_right_box_menu_inner_ul_box_il2 }}
                                    </a>
                                </li>
                                <li class="Golime_New_footer_mn_right_box_menu_inner_ul_box_il">
                                    <a href="{{ block.settings.Golime_New_footer_mn_right_box_menu_inner_ul_box_il_url3 }}" class="Golime_New_footer_mn_right_box_menu_inner_ul_box_il_a">
                                        {{ block.settings.Golime_New_footer_mn_right_box_menu_inner_ul_box_il3 }}
                                    </a>
                                </li>
                                <li class="Golime_New_footer_mn_right_box_menu_inner_ul_box_il">
                                    <a href="{{ block.settings.Golime_New_footer_mn_right_box_menu_inner_ul_box_il_url4 }}" class="Golime_New_footer_mn_right_box_menu_inner_ul_box_il_a">
                                        {{ block.settings.Golime_New_footer_mn_right_box_menu_inner_ul_box_il4 }}
                                    </a>
                                </li>
                                <li class="Golime_New_footer_mn_right_box_menu_inner_ul_box_il">
                                    <a href="{{ block.settings.Golime_New_footer_mn_right_box_menu_inner_ul_box_il_url5 }}" class="Golime_New_footer_mn_right_box_menu_inner_ul_box_il_a">
                                        {{ block.settings.Golime_New_footer_mn_right_box_menu_inner_ul_box_il_a5 }}
                                    </a>
                                </li>
                                <li class="Golime_New_footer_mn_right_box_menu_inner_ul_box_il">
                                    <a href="{{ block.settings.Golime_New_footer_mn_right_box_menu_inner_ul_box_il_url6 }}" class="Golime_New_footer_mn_right_box_menu_inner_ul_box_il_a">
                                        {{ block.settings.Golime_New_footer_mn_right_box_menu_inner_ul_box_il6 }}
                                    </a>
                                </li>
                               
                            </ul>
                            </div>
                            <div class="Golime_New_footer_mn_right_box_menu_inner">
                                <span class="Golime_New_footer_mn_right_box_menu_inner_block_span">
                                    {{ block.settings.title_Golime_New_footer_mn_right_box_menu_inner_block_span }}
                                <span class="Golime_New_footer_mn_right_box_menu_inner_icon_toggle" aria-hidden="true">
                                    <svg class="arrow-icon" width="12" height="12" viewBox="0 0 24 24">
                                        <path d="M8.5 10l3.5 3.5L15.5 10" fill="none" stroke="currentColor"
                                            stroke-width="2"></path>
                                    </svg>
                                </span>
                            </span>
                            <ul class="Golime_New_footer_mn_right_box_menu_inner_ul_box">
                                <li class="Golime_New_footer_mn_right_box_menu_inner_ul_box_il">
                                    <a href="{{ block.settings.main_sub_Golime_New_footer_mn_right_box_menu_inner_ul_box_il_url }}" class="Golime_New_footer_mn_right_box_menu_inner_ul_box_il_a">
                                        {{ block.settings.main_sub_Golime_New_footer_mn_right_box_menu_inner_ul_box_il }}
                                    </a>
                                </li>
                                <li class="Golime_New_footer_mn_right_box_menu_inner_ul_box_il">
                                    <a href="{{ block.settings.main_sub_Golime_New_footer_mn_right_box_menu_inner_ul_box_il_url2 }}" class="Golime_New_footer_mn_right_box_menu_inner_ul_box_il_a">
                                        {{ block.settings.main_sub_Golime_New_footer_mn_right_box_menu_inner_ul_box_il2 }}
                                    </a>
                                </li>
                                <li class="Golime_New_footer_mn_right_box_menu_inner_ul_box_il">
                                    <a href="{{ block.settings.main_sub_Golime_New_footer_mn_right_box_menu_inner_ul_box_il_url3 }}" class="Golime_New_footer_mn_right_box_menu_inner_ul_box_il_a">
                                       {{ block.settings.main_sub_Golime_New_footer_mn_right_box_menu_inner_ul_box_il3 }}
                                    </a>
                                </li>
                                <li class="Golime_New_footer_mn_right_box_menu_inner_ul_box_il">
                                    <a href="{{ block.settings.main_sub_Golime_New_footer_mn_right_box_menu_inner_ul_box_il_url4 }}" class="Golime_New_footer_mn_right_box_menu_inner_ul_box_il_a">
                                        {{ block.settings.main_sub_Golime_New_footer_mn_right_box_menu_inner_ul_box_il4 }}
                                    </a>
                                </li>
                                
                            </ul>
                            </div>
                        </div>
                        <div class="Golime_New_footer_mn_right_box_menu_inner">
                            <span class="Golime_New_footer_mn_right_box_menu_inner_block_span">
                                {{ block.settings.main_inner_Golime_New_footer_mn_right_box_menu_inner_block_span }}
                                <span class="Golime_New_footer_mn_right_box_menu_inner_icon_toggle" aria-hidden="true">
                                    <svg class="arrow-icon" width="12" height="12" viewBox="0 0 24 24">
                                        <path d="M8.5 10l3.5 3.5L15.5 10" fill="none" stroke="currentColor"
                                            stroke-width="2"></path>
                                    </svg>
                                </span>
                            </span>
                            <ul class="Golime_New_footer_mn_right_box_menu_inner_ul_box">
                                <li class="Golime_New_footer_mn_right_box_menu_inner_ul_box_il">
                                    <a href="{{ block.settings.Golime_New_footer_mn_right_box_menu_inner_ul_box_url }}" class="Golime_New_footer_mn_right_box_menu_inner_ul_box_il_a">
                                        {{ block.settings.Golime_New_footer_mn_right_box_menu_inner_ul_box_title1 }}
                                    </a>
                                </li>
                                <li class="Golime_New_footer_mn_right_box_menu_inner_ul_box_il">
                                    <a href="{{ block.settings.Golime_New_footer_mn_right_box_menu_inner_ul_box_url2 }}" class="Golime_New_footer_mn_right_box_menu_inner_ul_box_il_a">
                                        {{ block.settings.Golime_New_footer_mn_right_box_menu_inner_ul_box_title2 }}
                                    </a>
                                </li>
                                <li class="Golime_New_footer_mn_right_box_menu_inner_ul_box_il">
                                    <a href="{{ block.settings.Golime_New_footer_mn_right_box_menu_inner_ul_box_url3 }}" class="Golime_New_footer_mn_right_box_menu_inner_ul_box_il_a">
                                        {{ block.settings.Golime_New_footer_mn_right_box_menu_inner_ul_box_title3 }}
                                    </a>
                                </li>
                                <li class="Golime_New_footer_mn_right_box_menu_inner_ul_box_il">
                                    <a href="{{ block.settings.Golime_New_footer_mn_right_box_menu_inner_ul_box_url4 }}" class="Golime_New_footer_mn_right_box_menu_inner_ul_box_il_a">
                                        {{ block.settings.Golime_New_footer_mn_right_box_menu_inner_ul_box_title4 }}
                                    </a>
                                </li>
                                <li class="Golime_New_footer_mn_right_box_menu_inner_ul_box_il">
                                    <a href="{{ block.settings.Golime_New_footer_mn_right_box_menu_inner_ul_box_url5 }}" class="Golime_New_footer_mn_right_box_menu_inner_ul_box_il_a">
                                        {{ block.settings.Golime_New_footer_mn_right_box_menu_inner_ul_box_title5 }}
                                    </a>
                                </li>
                                <li class="Golime_New_footer_mn_right_box_menu_inner_ul_box_il">
                                    <a href="{{ block.settings.Golime_New_footer_mn_right_box_menu_inner_ul_box_url6 }}" class="Golime_New_footer_mn_right_box_menu_inner_ul_box_il_a">
                                        {{ block.settings.Golime_New_footer_mn_right_box_menu_inner_ul_box_title6 }}
                                    </a>
                                </li>
                                <li class="Golime_New_footer_mn_right_box_menu_inner_ul_box_il">
                                    <a href="{{ block.settings.Golime_New_footer_mn_right_box_menu_inner_ul_box_url7 }}" class="Golime_New_footer_mn_right_box_menu_inner_ul_box_il_a">
                                        {{ block.settings.Golime_New_footer_mn_right_box_menu_inner_ul_box_title7 }}
                                    </a>
                                </li>
                                <li class="Golime_New_footer_mn_right_box_menu_inner_ul_box_il">
                                    <a href="{{ block.settings.Golime_New_footer_mn_right_box_menu_inner_ul_box_url8 }}" class="Golime_New_footer_mn_right_box_menu_inner_ul_box_il_a">
                                        {{ block.settings.Golime_New_footer_mn_right_box_menu_inner_ul_box_title8 }}
                                    </a>
                                </li>
                                <li class="Golime_New_footer_mn_right_box_menu_inner_ul_box_il">
                                    <a href="{{ block.settings.Golime_New_footer_mn_right_box_menu_inner_ul_box_url9 }}" class="Golime_New_footer_mn_right_box_menu_inner_ul_box_il_a">
                                        {{ block.settings.Golime_New_footer_mn_right_box_menu_inner_ul_box_title9 }}
                                    </a>
                                </li>
                                <li class="Golime_New_footer_mn_right_box_menu_inner_ul_box_il">
                                    <a href="{{ block.settings.Golime_New_footer_mn_right_box_menu_inner_ul_box_url10 }}" class="Golime_New_footer_mn_right_box_menu_inner_ul_box_il_a">
                                        {{ block.settings.Golime_New_footer_mn_right_box_menu_inner_ul_box_title10 }}
                                    </a>
                                </li>
                                <li class="Golime_New_footer_mn_right_box_menu_inner_ul_box_il">
                                    <a href="{{ block.settings.Golime_New_footer_mn_right_box_menu_inner_ul_box_url11 }}" class="Golime_New_footer_mn_right_box_menu_inner_ul_box_il_a">
                                        {{ block.settings.Golime_New_footer_mn_right_box_menu_inner_ul_box_title11 }}
                                    </a>
                                </li>
                            </ul>
                        </div>
                        {% endcase %}
                        {% endfor %}
                    </div>
                    <div class="Golime_New_footer_mn_right_box_links_social_box">
                        <div class="Golime_New_footer_mn_right_box_links_social_content">
                            <p>
                                {{ section.settings.main_Golime_New_footer_mn_right_box_links_social_content }}
                            </p>
                        </div>

                        <div class="Golime_New_footer_mn_right_box_links_social_flex">
                            <ul class="Golime_New_footer_mn_right_box_links_social_flex_images_ul">
                                {% for block in section.blocks %}
                  {% case block.type %}
                    {% when 'SocialLinks' %}
                                <li class="Golime_New_footer_mn_right_box_links_social_images_ul_li">
                                    <a href="{{ block.settings.main_Golime_New_footer_mn_right_box_links_social_images_ul_li_a }}" class="Golime_New_footer_mn_right_box_links_social_images_ul_li_a">
                                        {% if block.settings.subGolime_New_footer_mn_right_box_links_social_images_img_flex !=blank %}
                                       <img src="{{ block.settings.subGolime_New_footer_mn_right_box_links_social_images_img_flex |img_url:'master' }}" alt="" class="Golime_New_footer_mn_right_box_links_social_images_img_flex">  
                                       {% endif %}   
                                    </a>
                                </li>
                                <li class="Golime_New_footer_mn_right_box_links_social_images_ul_li">
                                    <a href="{{ block.settings.main_Golime_New_footer_mn_right_box_links_social_images_ul_li_a_2 }}" class="Golime_New_footer_mn_right_box_links_social_images_ul_li_a">
                                        {% if block.settings.subGolime_New_footer_mn_right_box_links_social_images_img_flex_2 !=blank %}
                                       <img src="{{ block.settings.subGolime_New_footer_mn_right_box_links_social_images_img_flex_2 |img_url:'master' }}" alt="" class="Golime_New_footer_mn_right_box_links_social_images_img_flex">  
                                       {% endif %}   
                                    </a>
                                </li>
                                <li class="Golime_New_footer_mn_right_box_links_social_images_ul_li">
                                     <a href="{{ block.settings.main_Golime_New_footer_mn_right_box_links_social_images_ul_li_a_3 }}" class="Golime_New_footer_mn_right_box_links_social_images_ul_li_a">
                                        {% if block.settings.subGolime_New_footer_mn_right_box_links_social_images_img_flex_3 !=blank %}
                                       <img src="{{ block.settings.subGolime_New_footer_mn_right_box_links_social_images_img_flex_3 |img_url:'master' }}" alt="" class="Golime_New_footer_mn_right_box_links_social_images_img_flex">  
                                       {% endif %}   
                                    </a>
                                </li>
                                <li class="Golime_New_footer_mn_right_box_links_social_images_ul_li">
                                     <a href="{{ block.settings.main_Golime_New_footer_mn_right_box_links_social_images_ul_li_a_4 }}" class="Golime_New_footer_mn_right_box_links_social_images_ul_li_a">
                                        {% if block.settings.subGolime_New_footer_mn_right_box_links_social_images_img_flex_4 !=blank %}
                                       <img src="{{ block.settings.subGolime_New_footer_mn_right_box_links_social_images_img_flex_4 |img_url:'master' }}" alt="" class="Golime_New_footer_mn_right_box_links_social_images_img_flex">  
                                       {% endif %}   
                                    </a>
                                </li>
                                <li class="Golime_New_footer_mn_right_box_links_social_images_ul_li">
                                     <a href="{{ block.settings.main_Golime_New_footer_mn_right_box_links_social_images_ul_li_a_5 }}" class="Golime_New_footer_mn_right_box_links_social_images_ul_li_a">
                                        {% if block.settings.subGolime_New_footer_mn_right_box_links_social_images_img_flex_5 !=blank %}
                                       <img src="{{ block.settings.subGolime_New_footer_mn_right_box_links_social_images_img_flex_5 |img_url:'master' }}" alt="" class="Golime_New_footer_mn_right_box_links_social_images_img_flex">  
                                       {% endif %}   
                                    </a>
                                </li>
                                <li class="Golime_New_footer_mn_right_box_links_social_images_ul_li">
                                     <a href="{{ block.settings.main_Golime_New_footer_mn_right_box_links_social_images_ul_li_a_6 }}" class="Golime_New_footer_mn_right_box_links_social_images_ul_li_a">
                                        {% if block.settings.subGolime_New_footer_mn_right_box_links_social_images_img_flex_6 !=blank %}
                                       <img src="{{ block.settings.subGolime_New_footer_mn_right_box_links_social_images_img_flex_6 |img_url:'master' }}" alt="" class="Golime_New_footer_mn_right_box_links_social_images_img_flex">  
                                       {% endif %}   
                                    </a>
                                </li>
                                {% endcase %}
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="Golime_New_footer_mn_right_box_links_social_main_right_images_flex">
                            {% if section.settings.mian_Golime_New_footer_mn_right_box_links_social_main_images_flex_img !=blank%}
                            <img src="{{ section.settings.mian_Golime_New_footer_mn_right_box_links_social_main_images_flex_img |img_url:'master' }}" alt="" class="Golime_New_footer_mn_right_box_links_social_main_images_flex_img">
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
</footer>

{% schema %}
{

    "name": "Golime Footer New",
    "settings":[
        {
            "type": "video",
            "id": "main_Golime_New_footer_mn_left_box_video",
            "label": "Top Video"
        },
        {
        "type": "url",
        "id": "main_Golime_New_footer_mn_left_box_images_Logo_url",
        "label": "Images Ulr"
        },
        {
        "type": "image_picker",
        "id": "sub_Golime_New_footer_mn_left_box_images_Logo_img",
        "label": "Logo Images Footer"
        },
        {
        "type": "text",
        "id": "top_Golime_New_footer_mn_left_box_heading_h3",
        "label": "Video Box Text"
        },
        {
        "type": "richtext",
        "id": "main_Golime_New_footer_mn_left_box_title_para",
        "label": "Video Box Para"
        },
        {
        "type": "image_picker",
        "id": "sub_Golime_New_footer_mn_left_box_images_text_images_box",
        "label": "Input Top Images"
        },
        {
        "type": "text",
        "id": "Title_Golime_New_footer_mn_left_box_icon_text",
        "label": "Input Top Text",
        },
        {
        "type": "image_picker",
        "id": "sub_Golime_New_footer_mn_left_box_icon_text_img",
        "label": "Input Top Img2"
        },
        {
        "type": "image_picker",
        "id": "main_Golime_New_footer_mn_left_box_top_logo_Desktop",
        "label": "Full Footer Images Logo  Desktop"
        },
        {
        "type": "image_picker",
        "id": "main_Golime_New_footer_mn_left_box_top_logo_Mobile",
        "label": "Full Footer Images Logo Mobile"
        },
        {
        "type": "textarea",
        "id": "main_Golime_New_footer_mn_right_box_links_social_content",
        "label": "Links Social Content"
        },
        {
        "type": "image_picker",
        "id": "mian_Golime_New_footer_mn_right_box_links_social_main_images_flex_img",
        "label": "Links Social Images Left"
        }
    ],
    "blocks": [
        {
        "type": "LogoList",
        "name": "LogoList",
        "settings": [
            {
            "type": "image_picker",
            "id": "main_Golime_New_footer_mn_left_box_logo_list_img",
            "label": "Logo List Img"
            },
            {
            "type": "image_picker",
            "id": "main_Golime_New_footer_mn_left_box_logo_list_img2",
            "label": "Logo List Img"
            },
            {
            "type": "image_picker",
            "id": "main_Golime_New_footer_mn_left_box_logo_list_img3",
            "label": "Logo List Img"
            },
            {
            "type": "image_picker",
            "id": "main_Golime_New_footer_mn_left_box_logo_list_img4",
            "label": "Logo List Img"
            },
        ]
        },
        {
        "type": "RightMenu",
        "name": "RightMenu",
        "settings": [
            {
            "type": "text",
            "id": "main_Golime_New_footer_mn_right_box_menu_inner_block_span",
            "label": "Footer Menu Title"
            },
            {
            "type": "url",
            "id": "Golime_New_footer_mn_right_box_menu_inner_ul_box_il_a_url",
            "label": "Footer Menu Text Url"
            },
            {
            "type": "text",
            "id": "Golime_New_footer_mn_right_box_menu_inner_ul_box_il_a",
            "label": "Footer Menu Text"
            },
            {
            "type": "url",
            "id": "Golime_New_footer_mn_right_box_menu_inner_ul_box_il_a_url2",
            "label": "Footer Menu Text Url2"
            },
            {
            "type": "text",
            "id": "Golime_New_footer_mn_right_box_menu_inner_ul_box_il_a2",
            "label": "Footer Menu Text2"
            },
            {
            "type": "url",
            "id": "Golime_New_footer_mn_right_box_menu_inner_ul_box_il_a_url3",
            "label": "Footer Menu Text Url3"
            },
            {
            "type": "text",
            "id": "Golime_New_footer_mn_right_box_menu_inner_ul_box_il_a3",
            "label": "Footer Menu Text3"
            },
            {
            "type": "url",
            "id": "Golime_New_footer_mn_right_box_menu_inner_ul_box_il_a_url4",
            "label": "Footer Menu Text Url4"
            },
            {
            "type": "text",
            "id": "Golime_New_footer_mn_right_box_menu_inner_ul_box_il_a4",
            "label": "Footer Menu Text4"
            },
            {
            "type": "url",
            "id": "Golime_New_footer_mn_right_box_menu_inner_ul_box_il_a_url5",
            "label": "Footer Menu Text Url5"
            },
            {
            "type": "text",
            "id": "Golime_New_footer_mn_right_box_menu_inner_ul_box_il_a5",
            "label": "Footer Menu Text5"
            },
            {
            "type": "url",
            "id": "Golime_New_footer_mn_right_box_menu_inner_ul_box_il_a_url6",
            "label": "Footer Menu Text Url6"
            },
            {
            "type": "text",
            "id": "Golime_New_footer_mn_right_box_menu_inner_ul_box_il_a6",
            "label": "Footer Menu Text6"
            },
            {
            "type": "url",
            "id": "Golime_New_footer_mn_right_box_menu_inner_ul_box_il_a_url7",
            "label": "Footer Menu Text Url7"
            },
            {
            "type": "text",
            "id": "Golime_New_footer_mn_right_box_menu_inner_ul_box_il_a7",
            "label": "Footer Menu Text7"
            },
            {
            "type": "url",
            "id": "Golime_New_footer_mn_right_box_menu_inner_ul_box_il_a_url8",
            "label": "Footer Menu Text Url8"
            },
            {
            "type": "text",
            "id": "Golime_New_footer_mn_right_box_menu_inner_ul_box_il_a8",
            "label": "Footer Menu Text8"
            },
            {
            "type": "url",
            "id": "Golime_New_footer_mn_right_box_menu_inner_ul_box_il_a_url9",
            "label": "Footer Menu Text Url9"
            },
            {
            "type": "text",
            "id": "Golime_New_footer_mn_right_box_menu_inner_ul_box_il_a9",
            "label": "Footer Menu Text9"
            },
            {
            "type": "text",
            "id": "sub_Golime_New_footer_mn_right_box_menu_inner_block_span",
            "label": "Block 2 Footer Menu Title"
            },
            {
            "type": "url",
            "id": "Golime_New_footer_mn_right_box_menu_inner_ul_box_il_url",
            "label": "Footer Menu Block 2 Text Url"
            },
            {
            "type": "text",
            "id": "Golime_New_footer_mn_right_box_menu_inner_ul_box_il",
            "label": "Footer Menu Block 2 Text"
            },
            {
            "type": "url",
            "id": "Golime_New_footer_mn_right_box_menu_inner_ul_box_il_url2",
            "label": "Footer Menu Block 2 Text Url2"
            },
            {
            "type": "text",
            "id": "Golime_New_footer_mn_right_box_menu_inner_ul_box_il2",
            "label": "Footer Menu Block 2 Text2"
            },
            {
            "type": "url",
            "id": "Golime_New_footer_mn_right_box_menu_inner_ul_box_il_url3",
            "label": "Footer Menu Block 2 Text Url3"
            },
            {
            "type": "text",
            "id": "Golime_New_footer_mn_right_box_menu_inner_ul_box_il3",
            "label": "Footer Menu Block 2 Text3"
            },
            {
            "type": "url",
            "id": "Golime_New_footer_mn_right_box_menu_inner_ul_box_il_url4",
            "label": "Footer Menu Block 2 Text Url4"
            },
            {
            "type": "text",
            "id": "Golime_New_footer_mn_right_box_menu_inner_ul_box_il4",
            "label": "Footer Menu Block 2 Text4"
            },
            {
            "type": "url",
            "id": "Golime_New_footer_mn_right_box_menu_inner_ul_box_il_url5",
            "label": "Footer Menu Block 2 Text Url5"
            },
            {
            "type": "text",
            "id": "Golime_New_footer_mn_right_box_menu_inner_ul_box_il5",
            "label": "Footer Menu Block 2 Text5"
            },
            {
            "type": "url",
            "id": "Golime_New_footer_mn_right_box_menu_inner_ul_box_il_url6",
            "label": "Footer Menu Block 2 Text Url6"
            },
            {
            "type": "text",
            "id": "Golime_New_footer_mn_right_box_menu_inner_ul_box_il6",
            "label": "Footer Menu Block 2 Text6"
            },
            {
            "type": "text",
            "id": "title_Golime_New_footer_mn_right_box_menu_inner_block_span",
            "label": "Block inner 2 Footer Menu Title"
            },
            {
            "type": "url",
            "id": "main_sub_Golime_New_footer_mn_right_box_menu_inner_ul_box_il_url",
            "label": "Footer Menu Block 2 inner Text Url"
            },
            {
            "type": "text",
            "id": "main_sub_Golime_New_footer_mn_right_box_menu_inner_ul_box_il",
            "label": "Footer Menu Block 2 inner Text"
            },
            {
            "type": "url",
            "id": "main_sub_Golime_New_footer_mn_right_box_menu_inner_ul_box_il_url2",
            "label": "Footer Menu Block 2 inner Text Url2"
            },
            {
            "type": "text",
            "id": "main_sub_Golime_New_footer_mn_right_box_menu_inner_ul_box_il2",
            "label": "Footer Menu Block 2 inner Text2"
            },
            {
            "type": "url",
            "id": "main_sub_Golime_New_footer_mn_right_box_menu_inner_ul_box_il_url3",
            "label": "Footer Menu Block 2 inner Text Url3"
            },
            {
            "type": "text",
            "id": "main_sub_Golime_New_footer_mn_right_box_menu_inner_ul_box_il3",
            "label": "Footer Menu Block 2 inner Text3"
            },
            {
            "type": "url",
            "id": "main_sub_Golime_New_footer_mn_right_box_menu_inner_ul_box_il_url4",
            "label": "Footer Menu Block 2 inner Text Url4"
            },
            {
            "type": "text",
            "id": "main_sub_Golime_New_footer_mn_right_box_menu_inner_ul_box_il4",
            "label": "Footer Menu Block 2 inner Text4"
            },
            {
            "type": "text",
            "id": "main_inner_Golime_New_footer_mn_right_box_menu_inner_block_span",
            "label": "Block inner 3 Footer Menu Title"
            },
            {
            "type": "url",
            "id": "Golime_New_footer_mn_right_box_menu_inner_ul_box_url",
            "label": "Footer Menu Block 3 Text Url"
            },
            {
            "type": "text",
            "id": "Golime_New_footer_mn_right_box_menu_inner_ul_box_title1",
            "label": "Footer Menu Block 2 Text1"
            },
            {
            "type": "url",
            "id": "Golime_New_footer_mn_right_box_menu_inner_ul_box_url2",
            "label": "Footer Menu Block 3 Text Url2"
            },
            {
            "type": "text",
            "id": "Golime_New_footer_mn_right_box_menu_inner_ul_box_title2",
            "label": "Footer Menu Block 3 Text2"
            },
            {
            "type": "url",
            "id": "Golime_New_footer_mn_right_box_menu_inner_ul_box_url3",
            "label": "Footer Menu Block 3 Text Url3"
            },
            {
            "type": "text",
            "id": "Golime_New_footer_mn_right_box_menu_inner_ul_box_title3",
            "label": "Footer Menu Block 3 Text3"
            },
            {
            "type": "url",
            "id": "Golime_New_footer_mn_right_box_menu_inner_ul_box_url4",
            "label": "Footer Menu Block 3 Text Url4"
            },
            {
            "type": "text",
            "id": "Golime_New_footer_mn_right_box_menu_inner_ul_box_title4",
            "label": "Footer Menu Block 3 Text4"
            },
            {
            "type": "url",
            "id": "Golime_New_footer_mn_right_box_menu_inner_ul_box_url5",
            "label": "Footer Menu Block 3 Text Url5"
            },
            {
            "type": "text",
            "id": "Golime_New_footer_mn_right_box_menu_inner_ul_box_title5",
            "label": "Footer Menu Block 3 Text5"
            },
            {
            "type": "url",
            "id": "Golime_New_footer_mn_right_box_menu_inner_ul_box_url6",
            "label": "Footer Menu Block 3 Text Url6"
            },
            {
            "type": "text",
            "id": "Golime_New_footer_mn_right_box_menu_inner_ul_box_title6",
            "label": "Footer Menu Block 3 Text6"
            },
            {
            "type": "url",
            "id": "Golime_New_footer_mn_right_box_menu_inner_ul_box_url7",
            "label": "Footer Menu Block 3 Text Url7"
            },
            {
            "type": "text",
            "id": "Golime_New_footer_mn_right_box_menu_inner_ul_box_title7",
            "label": "Footer Menu Block 3 Text7"
            },
            {
            "type": "url",
            "id": "Golime_New_footer_mn_right_box_menu_inner_ul_box_url8",
            "label": "Footer Menu Block 3 Text Url8"
            },
            {
            "type": "text",
            "id": "Golime_New_footer_mn_right_box_menu_inner_ul_box_title8",
            "label": "Footer Menu Block 3 Text8"
            },
            {
            "type": "url",
            "id": "Golime_New_footer_mn_right_box_menu_inner_ul_box_url9",
            "label": "Footer Menu Block 3 Text Url9"
            },
            {
            "type": "text",
            "id": "Golime_New_footer_mn_right_box_menu_inner_ul_box_title9",
            "label": "Footer Menu Block 3 Text9"
            },
            {
            "type": "url",
            "id": "Golime_New_footer_mn_right_box_menu_inner_ul_box_url10",
            "label": "Footer Menu Block 3 Text Url10"
            },
            {
            "type": "text",
            "id": "Golime_New_footer_mn_right_box_menu_inner_ul_box_title10",
            "label": "Footer Menu Block 3 Text10"
            },
            {
            "type": "url",
            "id": "Golime_New_footer_mn_right_box_menu_inner_ul_box_url11",
            "label": "Footer Menu Block 3 Text Url11"
            },
            {
            "type": "text",
            "id": "Golime_New_footer_mn_right_box_menu_inner_ul_box_title11",
            "label": "Footer Menu Block 3 Text11"
            },
        ]
        },
        {
        "type": "SocialLinks",
        "name": "SocialLinks",
        "settings": [
            {
            "type": "url",
            "id": "main_Golime_New_footer_mn_right_box_links_social_images_ul_li_a",
            "label": "Right Social Links Url"
            },
            {
            "type": "image_picker",
            "id": "subGolime_New_footer_mn_right_box_links_social_images_img_flex",
            "label": "Right Social Links Images"
            },
            {
            "type": "url",
            "id": "main_Golime_New_footer_mn_right_box_links_social_images_ul_li_a_2",
            "label": "Right Social Links Url 2"
            },
            {
            "type": "image_picker",
            "id": "subGolime_New_footer_mn_right_box_links_social_images_img_flex_2",
            "label": "Right Social Links Images 2"
            },
            {
            "type": "url",
            "id": "main_Golime_New_footer_mn_right_box_links_social_images_ul_li_a_3",
            "label": "Right Social Links Url 3"
            },
            {
            "type": "image_picker",
            "id": "subGolime_New_footer_mn_right_box_links_social_images_img_flex_3",
            "label": "Right Social Links Images 3"
            },
            {
            "type": "url",
            "id": "main_Golime_New_footer_mn_right_box_links_social_images_ul_li_a_4",
            "label": "Right Social Links Url 4"
            },
            {
            "type": "image_picker",
            "id": "subGolime_New_footer_mn_right_box_links_social_images_img_flex_4",
            "label": "Right Social Links Images 4"
            },
            {
            "type": "url",
            "id": "main_Golime_New_footer_mn_right_box_links_social_images_ul_li_a_5",
            "label": "Right Social Links Url 5"
            },
            {
            "type": "image_picker",
            "id": "subGolime_New_footer_mn_right_box_links_social_images_img_flex_5",
            "label": "Right Social Links Images 5"
            },
            {
            "type": "url",
            "id": "main_Golime_New_footer_mn_right_box_links_social_images_ul_li_a_6",
            "label": "Right Social Links Url 6"
            },
            {
            "type": "image_picker",
            "id": "subGolime_New_footer_mn_right_box_links_social_images_img_flex_6",
            "label": "Right Social Links Images 6"
            },
        ]
        }
    ],
    "presets": [
        {
        "name": "Golime Footer New"
        }
    ]
}
{% endschema %}